@page "/privacy"
@inherits LocalizedComponent
@layout MainLayout

<div class="container mt-5">
	<div class="row mt-5">
		<div class="col mt-5 pt-5">
			<div class="card bg-white text-bg-light bg-opacity-75 bg-acrylic">
				<div class="card-body">
					<div class="display-4">@titleText</div>
					<p>@lastUpdateText</p>
					<p>@introductionText</p>
					<p>@informationCollectionText</p>
					<p>@useOfInformationText</p>
					<p>@informationSharingText</p>
					<p>@dataSecurityText</p>
					<p>@yourChoicesText</p>
					<p>@changesToThisPolicyText</p>
					<p>@contactUsText</p>
				</div>
			</div>
		</div>
	</div>
</div>


@code {
	[CascadingParameter] public MainLayout? MainLayoutInstance { get; set; }

	private string titleText = "Host";
	private string lastUpdateText = "Last updated";
	private string introductionText = "Introduction";
	private string informationCollectionText = "Information Collection";
	private string useOfInformationText = "Use of Information";
	private string informationSharingText = "Information Sharing";
	private string dataSecurityText = "Data Security";
	private string yourChoicesText = "Your Choices";
	private string changesToThisPolicyText = "Changes to This Policy";
	private string contactUsText = "Contact Us";
	private static RenderFragment EmptyNavbarContent => @<div class="navbar-nav me-auto"></div>;

	protected override async Task LoadLocalizedStringsAsync()
	{
		await base.LoadLocalizedStringsAsync();

		// Update navbar content when language changes
		if (MainLayoutInstance is not null)
		{
			MainLayoutInstance.SetNavbarContent(EmptyNavbarContent);
		}
	}

	protected override void LoadTexts()
	{
		titleText = LocalizationService.GetString("PrivacyPolicy");
		lastUpdateText = LocalizationService.GetString("PrivacyPolicy.LastUpdated");
		introductionText = LocalizationService.GetString("PrivacyPolicy.Introduction");
		informationCollectionText = LocalizationService.GetString("PrivacyPolicy.InformationCollection");
		useOfInformationText = LocalizationService.GetString("PrivacyPolicy.UseOfInformation");
		informationSharingText = LocalizationService.GetString("PrivacyPolicy.InformationSharing");
		dataSecurityText = LocalizationService.GetString("PrivacyPolicy.DataSecurity");
		yourChoicesText = LocalizationService.GetString("PrivacyPolicy.YourChoices");
		changesToThisPolicyText = LocalizationService.GetString("PrivacyPolicy.ChangesToThisPolicy");
		contactUsText = LocalizationService.GetString("PrivacyPolicy.ContactUs");
	}
}
