@using IdeaStudio.Website.Models
@using IdeaStudio.Website.Components
@using IdeaStudio.Website.Services
@using Markdig
@inherits AnimatedComponentBase
@inject ISeoService SeoService

<article @ref="ElementRef" id="@SeoService.GenerateSlug(Title)"
		class="card bg-white text-bg-light bg-opacity-75 h-100 fade-in-up"
			data-bs-delay="@(Index * 50)">
	@if (Banner is not null)
	{
		<img src="@Banner" class="card-img-top rounded-top" alt="@Title banner" loading="lazy">
	}
	<div class="card-body d-flex flex-column @BodyStyle">
		@if (Title is not null)
		{
			<h6 class="card-title display-6 text-primary fw-normal">@Title</h6>
		}
		<div class="card-text">
			@if (Content is not null)
			{
				@Content
			}
		</div>
	</div>
	@if (Footer is not null)
	{
		<div class="card-footer">
			@Footer
		</div>
	}
</article>

@code {
    [Parameter] public string? Banner { get; set; }
    [Parameter] public string? Title { get; set; }
    [Parameter] public RenderFragment? Content { get; set; }
	[Parameter] public RenderFragment? Footer { get; set; }
	[Parameter] public string BodyStyle { get; set; } = string.Empty;
    [Parameter] public int Index { get; set; } = 0;
}
