@using IdeaStudio.Website.Models
@using Markdig

<FluentStack Orientation="Orientation.Vertical"
             Style="padding:15px; width:calc(100% - 30px); max-width:calc(100% - 30px)">
    <div class="text-align-center" style="width: 100%;">
        <FluentCard Width="100%" Height="150px" Class="bg-acrylic" Style="padding:15px; align-items: center;display: flex;text-align: center;justify-content: center;">
            <img src="@CompanyLogo" alt="@Company" style="max-height:150px; max-width:200px" @onerror="CompanyLogoFail">
        </FluentCard>
    </div>
    <FluentLabel Style="word-wrap: break-word;" Typo="Typography.Header">@Title</FluentLabel>
    <FluentLabel Style="word-wrap: break-word;" Typo="Typography.Subject">@Company</FluentLabel>
    <FluentLabel Style="word-wrap: break-word;" Typo="Typography.Body">@Description</FluentLabel>

    @if (Responsibilities is not null || Skills is not null)
    { 
        <FluentAccordion Style="width:100%">
            @if (Responsibilities is not null)
            { 
                <FluentAccordionItem Heading="Key responsibilities">
                    <div style="display:flex; flex-direction: column; flex-wrap: wrap; gap: 10px">
                    @foreach (var responsibility in Responsibilities)
                    {
                        <FluentLabel Style="word-wrap: break-word;" Typo="Typography.Body">@responsibility</FluentLabel>
                    }
                    </div>
                </FluentAccordionItem>
            }
            @if (Skills is not null)
            {
                <FluentAccordionItem Heading="Skills">
                    <div style="display:flex; flex-direction: row; flex-wrap: wrap; gap: 5px">
                        @foreach (var skill in Skills)
                        {
                            <FluentBadge>@skill</FluentBadge>
                        }
                    </div>
                </FluentAccordionItem>
            }
        </FluentAccordion>
    }
    
    <p>
        <small>@Mode, @Interval, @Location</small>
    </p>
</FluentStack>

@code {
    [Parameter] public string? Title { get; set; }

    [Parameter] public string? Company { get; set; }

    [Parameter] public string? Mode { get; set; }

    [Parameter] public string? Interval { get; set; }

    [Parameter] public string? Location { get; set; }

    [Parameter] public string? Description { get; set; }

    [Parameter] public IEnumerable<string>? Responsibilities { get; set; }

    [Parameter] public IEnumerable<string>? Skills { get; set; }

    [Parameter] public Side Side { get; set; }

    private string? CompanyLogo { get; set; }

    private void CompanyLogoFail() => CompanyLogo = "images/placeholder.png";

    override protected void OnInitialized() => CompanyLogo = $"images/{Company?.ToSeoUrl()}.png";
}