@using IdeaStudio.Website.Models
@using Markdig


<div class="card bg-light text-bg-light" data-bs-theme="light">
	<div class="card-body">
		<h3 class="d-flex justify-content-between align-self-center">
			<span>@Title at @Company</span>
			<img src="@CompanyLogo" alt="@Company logo" class="ms-5" style="max-height: 30px;"
					@onerror="CompanyLogoFail">
		</h3>

		<p class="card-text">
			<small class="text-muted">
				@if (Mode is not null)
				{
					<span>@Mode</span>
				}
				@if (Duration is not null)
				{
					<span>@(Mode is not null ? " - " : "")@(new MarkupString(Duration))</span>
				}
				@if (Location is not null)
				{
					<span> - @Location</span>
				}
			</small>
		</p>
		@if (Description is not null)
		{
			@foreach (var paragraph in Description)
			{
				@if (!string.IsNullOrWhiteSpace(paragraph))
				{
					<p class="card-text">@(new MarkupString(paragraph))</p>
				}
			}
		}
		<div id="@Id">
			@if (Responsibilities is not null)
			{
				<h4>Key responsibilities</h4>
				@foreach (var responsibility in Responsibilities)
				{
					<p class="card-text">@responsibility</p>
				}
			}
			@if (Skills is not null)
			{
				<h4 class="d-print-none">
					Skills
				</h4>
				<div class="d-flex flex-row flex-wrap d-print-none m-n1">
					@foreach (var skill in Skills)
					{
						<span class="badge rounded-pill text-bg-light bg-light m-1">@skill</span>
					}
				</div>
			}
		</div>

	</div>
</div>

@code {
	private string? Id { get; set; }
	private string? Duration { get; set; }
	[Parameter] public string? Title { get; set; }

	[Parameter] public string? Company { get; set; }

	[Parameter] public string? Mode { get; set; }

	[Parameter] public DateTime? StartDate { get; set; }

	[Parameter] public DateTime? EndDate { get; set; }

	[Parameter] public string? Location { get; set; }

	[Parameter] public IEnumerable<string?>? Description { get; set; }

	[Parameter] public IEnumerable<string>? Responsibilities { get; set; }

	[Parameter] public IEnumerable<string>? Skills { get; set; }

	[Parameter] public Side Side { get; set; }

	private string? CompanyLogo { get; set; }

	private void CompanyLogoFail() => CompanyLogo = "images/placeholder.png";

	protected override void OnInitialized()
	{
		CompanyLogo = $"images/{Company?.ToSeoUrl()}.png";
		Id = $"accordion-{Guid.NewGuid()}";

		if (StartDate is not null)
		{
			Duration = $"{StartDate:MMMM yyyy} <i class='fa-solid fa-angle-right'></i> {(EndDate == null ? "Present" : $"{EndDate:MMMM yyyy}")}";
			TimeSpan duration = (EndDate.HasValue ? EndDate.Value : DateTime.Today) - StartDate.Value;
			Duration += duration.TotalDays < 366 ? $" ({duration.Days / 30} months)" : $" ({duration.TotalDays / 365.25:F1} years)";
		}
	}
}
