@using IdeaStudio.Website.Models

<section id="about" class="py-5">
    <div class="container">
        @if (Cards != null && Cards.Any())
        {
            <div class="row g-4">
                @foreach (var (card, index) in Cards.Select((c, i) => (c, i)))
                {
                    <div class="col-12 col-lg-6 col-xxl-4">
                        <article class="card bg-light text-bg-light bg-opacity-75 bg-acrylic-1 h-100 fade-in-up"
                                 data-bs-delay="@(index * 50)"
                                 style="transition-delay: @(index * 50)ms;">
                            @if (card.Banner != null)
                            {
                                <img src="@card.Banner" class="card-img-top rounded-top" alt="@card.Title banner" loading="lazy">
                            }
                            <div class="card-body d-flex flex-column">
								<h6 class="card-title display-6 text-primary fw-normal">@card.Title</h6>
								<div class="card-text">
                                @if (card.Paragraphs != null)
                                {
                                    @foreach (string paragraph in card.Paragraphs)
                                    {
                                        <p class="text-primary">@((MarkupString)paragraph)</p>
                                    }
                                }

                                @if (card.Images != null)
                                {
                                    <div class="d-flex d-print-none gap-3 my-3 justify-content-center">
                                        @foreach (string image in card.Images)
                                        {
                                            <img src="images/@image" alt="@card.Title technology" class="p-1" width="70" height="70" loading="lazy">
                                        }
                                    </div>
                                }

                                @if (card.Icons != null)
                                {
                                    <div class="d-flex d-print-none gap-3 my-3 justify-content-center">
                                        @foreach (string icon in card.Icons)
                                        {
											<i class="@icon fa-4x" aria-hidden="true"></i>
                                        }
                                    </div>
                                }
								</div>
                            </div>
                        </article>
                    </div>
                }
            </div>
        }
        else
        {
            <div class="row g-4">
                @for (int i = 0; i < 6; i++)
                {
                    <div class="col-lg-6">
                        <PlaceholderComponent />
                    </div>
                }
            </div>
        }
    </div>
</section>

@code {
    [Parameter] public IEnumerable<Card>? Cards { get; set; }
}
